:root {
  background-color: #242424;
}

.socials {
  top: sticky;
  top: 0;
  padding: 5px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.socials-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
