:root {
  background-color: #242424;
}

:alpha {
  main-color: #51B4CB;
}

.socials {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.socialsContainer {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
}

.socialsContainer a {
  margin: 0 5px;
}

.emailMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
  cursor: pointer;
}

.snap-center {
  scroll-snap-type: center;
}

.heroFlex {
  display: flex;
  flex-direction: column;

}
