{% load static %}
{% load fontawesome_5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ola Yinka's Portfolio</title>
    <meta name="description" content="Page description. No longer than 155 characters.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="{% static 'assets/stylesheet/application.css' %}">
</head>
<body>
  <body>
    <header class="socials max-w-7xl mx-auto z-20 xl:items-center">
      <div class="socialsContainer">
        <a href="">Twitter</a>
        <a href="">LinkedIn</a>
        <a href="">Instagram</i></a>
        <a href="">Facebook</a>
      </div>

      <div class="emailMe">
        <a href="">Get In Touch.</a>
      </div>
    </header>

    <section class="snap-center" id="hero">
      <div class="h-screen heroFlex space-y-8">

        <img src="" alt="">
        <h2>Software Developer</h2>

        <h1>
          <span>
            Hello, I am Ola Yinka
          </span>
        </h1>
      </div>

      <div class="infomation">
        <a href=""><button class="heroButton">About</button></a>
        <a href=""><button class="heroButton">Skills</button></a>
        <a href=""><button class="heroButton">Portfolio</button></a>
        <a href=""><button class="heroButton">Contact</button></a>
      </div>
    </section>

    <section class="snap-center" id="about">
      <div class="about">
        <h3>
          About Me
        </h3>

        <img src="" alt="">

        <div class="aboutDetail">
          <h4 class="detailHeading">
            Here is a little Detail...
          </h4>
        </div>

        <p class="detail">
          My name is <span>
            Timothy Olaonipekun Omoniyi
          </span>
          I am a self-taught and bootcamp-trained full-stack developer who recently transitioned into the tech industry.
          I discovered my love for programming through Python and have been learning the language via various online resources,
          including Udemy. This eventually led me to complete the Le Wagon Bootcamp in Barcelona, where I gained valuable experience
          working on group projects. Despite being employed as a delivery driver for Amazon, I have been dedicating my free time
          to continuing my studies, particularly in the area of Python with a focus on the Django framework.
          I am currently enrolled in a course offered by Harvard University(CS50) and am making progress towards my goal of becoming
          a skilled and competent developer. As I am eager to gain more hands-on experience in the field,
          I would be grateful for any opportunity, even a non-payable internship, to work with a team and contribute
          to the development of real-world projects. I am committed to continuous learning and personal development,
          and I believe that such an opportunity would be a valuable step towards achieving my career aspirations.
        </p>
      </div>
    </section>

    <section class="snap-center" id="skills">
      <div class="skills">
        <h3 class="skillsHeading">
          Hover over skills for proficiency
        </h3>

        <div class="skillsImages">
          <div class="skillImage">
            <img src="" alt="">
          </div>

          <div class="skillProficiency">
            <p class="proficiency">
              100%
            </p>
          </div>
        <div class="skillsImages">
          <div class="skillImage">
            <img src="" alt="">
          </div>

          <div class="skillProficiency">
            <p class="proficiency">
              100%
            </p>
          </div>
        <div class="skillsImages">
          <div class="skillImage">
            <img src="" alt="">
          </div>

          <div class="skillProficiency">
            <p class="proficiency">
              100%
            </p>
          </div>
        <div class="skillsImages">
          <div class="skillImage">
            <img src="" alt="">
          </div>

          <div class="skillProficiency">
            <p class="proficiency">
              100%
            </p>
          </div>
        <div class="skillsImages">
          <div class="skillImage">
            <img src="" alt="">
          </div>

          <div class="skillProficiency">
            <p class="proficiency">
              100%
            </p>
          </div>
        <div class="skillsImages">
          <div class="skillImage">
            <img src="" alt="">
          </div>

          <div class="skillProficiency">
            <p class="proficiency">
              100%
            </p>
          </div>
        <div class="skillsImages">
          <div class="skillImage">
            <img src="" alt="">
          </div>

          <div class="skillProficiency">
            <p class="proficiency">
              100%
            </p>
          </div>

        </div>
      </div>
    </section>

    <section class="snap-start" id="portfolio">
      <div class="portfolio">
        <h3 class="portfolioHeading">
          Portfolio
        </h3>

        <div class="portfolioImages">
          <div class="portfolioTitle">
            <h4 class="title">

              <span class="portfolioCounter">"Case Study"
                <!--  -->
                "1"
                <!-- -->
                "of"
                <!-- -->
                "3"
              </span>
              Project Title
            </h4>
          </div>
        </div>
        <div class="portfolioImages">
          <div class="portfolioTitle">
            <h4 class="title">

              <span class="portfolioCounter">"Case Study"
                <!--  -->
                "1"
                <!-- -->
                "of"
                <!-- -->
                "3"
              </span>
              Project Title
            </h4>
          </div>
        </div>
        <div class="portfolioImages">
          <div class="portfolioTitle">
            <h4 class="title">

              <span class="portfolioCounter">"Case Study"
                <!--  -->
                "1"
                <!-- -->
                "of"
                <!-- -->
                "3"
              </span>
              Project Title
            </h4>
          </div>
        </div>
        <div class="portfolioImages">
          <div class="portfolioTitle">
            <h4 class="title">

              <span class="portfolioCounter">"Case Study"
                <!--  -->
                "1"
                <!-- -->
                "of"
                <!-- -->
                "3"
              </span>
              Project Title
            </h4>
          </div>
        </div>
      </div>

    </section>

    <section class="snap-start" id="contact">
      <div class="contactMe">
        <h3 class="contactHeading">
          Contact Yinka
        </h3>

        <div class="contact">
          <div class="contactInfo">
            <h4 class="contactInfoHeading">
              Let me work with your team
            </h4>
        </div>

        <div class="myNumber">
          <p>
            +34 631 789 277
          </p>
        </div>

        <div class="emailMe">
          <p>
            olayinkatimothy102@gmail.com
          </p>
        </div>

        <div class="locateMe">
          <p>
            Valencia, Spain
          </p>
        </div>

        <form action="" class="reachMe">
          <div class="contactForm">
            <input name="name" placeholder="Name or Company" class="contactInput" type="text">
            <input name="email" placeholder="Email" class="contactInput" type="email">
          </div>
          <textarea name="message" placeholder="Message" class="contactInput" ></textarea>
          <button class="contactButton" type="submit">Submit</button>
        </form>
      </div>

      <a href="/#hero">
        <footer class="sticky">
          <div class="footerLogo">
            <img src="" alt="">
          </div>
        </footer>
      </a>
    </section>
  <script src="{% static 'assets/javascript/application.js' %}"></script>
</body>
</html>
