{% load static %}
{% load fontawesome_5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ola Yinka's Portfolio</title>
    <meta name="description" content="Page description. No longer than 155 characters.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="{% static 'assets/stylesheet/application.css' %}">
</head>
<body>
  <body>
    <header class="socials">
      <div class="socials-container">
        <a href="">Twitter</a>
        <a href="">LinkedIn</a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href="">Facebook</a>
      </div>

      <div class="email-me">
        <a href="">Get In Touch.</a>
      </div>
    </header>
  <script src="{% static 'assets/javascript/application.js' %}"></script>
</body>
</html>
